extends layout

block content
  script(type='text/javascript', src='/js/jquery-2.2.3.js')
  script(type='text/javascript', src="http://maps.googleapis.com/maps/api/js")
  script(type='text/javascript', src='/javascripts/discovery-view.js')
  
  h1= title
    form#formSearch(name="search-Location", action="/discovery")
      div.input
        p
          span.label Search
            p
              input#inputSearch(type="text", name="name")
              button#btnSearch(onclick="clickedSearchButton()") Search
            div.actions
           
  div#googleMapContainer(style="width:500px;height:380px;border-color:#282C34;border-style:solid;")
           
  div.list
    ul#listLocations.list
      for loc in locations
        p.list
          h1= loc.name
          li.list= "Latitude = "    + loc.lat
          li.list= "Longitude = "  + loc.long
          li.list= "Hash = "       + loc.hash
        p.list
        
        
