extends layout

block content
  script.
    function something() {
      
    }
  h1= title
   form(name="search-Location", action="/discovery")
       div.input
        p
           span.label Search
           p
            input(type="text", name="title")
            button(onclick="something()") Search
       div.actions
           
    div.list
      ul.list 
        for loc in locations
          p.list
            h1= loc.name
            a.list= "Latitude = "    + loc.lat
            a.list= "Longitude = "  + loc.long
            a.list= "Hash = "       + loc.hash
          p.list
        
        
