extends layout

block content
  script(type='text/javascript', src='/js/jquery-2.2.3.js')
  script.
    jQuery(window).ready(function(){
      jQuery("#formSearch").submit(function(){
        return false;
      });
              });
    function clickedSearchButton() {
      alert("Do search! (Implement per AJAX, when JS is available.)");
    }
  h1= title
   form#formSearch(name="search-Location", action="/discovery")
       div.input
        p
           span.label Search
           p
            input(type="text", name="name")
            button#btnSearch(onclick="clickedSearchButton()") Search
       div.actions
           
    div.list
      ul.list 
        for loc in locations
          p.list
            h1= loc.name
            li.list= "Latitude = "    + loc.lat
            li.list= "Longitude = "  + loc.long
            li.list= "Hash = "       + loc.hash
          p.list
        
        
